.chat-internal-header { 
    padding: 20px 25px; 
    border-bottom: 1px solid #f8f9fa; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.logo { 
    font-size: 34px; 
    font-weight: 900; 
    margin: 0; 
    letter-spacing: -2px; 
}

.logo span { 
    color: #f39c12; 
}

.header-tools-right { 
    display: flex; 
    gap: 15px; 
    align-items: center; 
}

.tool-border-sq {
    border: 1px solid #edf2f7;
    border-radius: 12px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}