.sidebar-naranja {
    width: 70px; height: 100vh; background-color: #f39c12;
    position: fixed; left: 0; top: 0;
    display: flex; flex-direction: column; align-items: center;
    padding: 20px 0; box-sizing: border-box; justify-content: space-between;
    z-index: 100;
}
.nav-circle-btn {
    width: 48px; height: 48px; border-radius: 50%; border: 2px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.2); color: white; font-weight: 800; cursor: pointer;
    display: flex; align-items: center; justify-content: center; font-size: 18px;
}
.ghost-btn { border: none; background: transparent; }