:root {
    --bg-verde: #e1eee3;
    --naranja: #f39c12;
    --blanco: #ffffff;
    --verde: #4caf50;
    --rojo-alegre: #ff5252;
    --azul-flojo: #f1f8f1;
    --gris-label: #a0a0a0;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--bg-verde);
    margin: 0;
    height: 100vh;
    overflow: hidden;
}