:root {
    --naranja: #f16b24;
    --fondo-azul: #d1e3e8;
}

.bg-main {
    background-color: var(--fondo-azul);
    margin: 0;
    height: 100vh;
    display: flex;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

.app-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
}

#main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* HEADER SEGÚN TU ESPECIFICACIÓN */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px 35px 0;
    margin-bottom: 20px;
}

#workspace {
    flex: 1;
    display: flex;
    gap: 20px;
    height: calc(100% - 100px);
    position: relative; /* Necesario para que las ventanas floten encima */
}

/* Barra naranja lateral fija */
.sidebar-mini {
    width: 75px;
    background: var(--naranja);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 30px;
    box-sizing: border-box;
    border-radius: 35px;
}