:root {
    --naranja: #f16b24;
    --fondo-azul: #d1e3e8;
}

.bg-main {
    background-color: var(--fondo-azul);
    margin: 0; height: 100vh; display: flex; overflow: hidden;
    font-family: 'Inter', sans-serif;
}

.app-wrapper {
    display: flex; width: 100%; height: 100vh; padding: 20px; box-sizing: border-box; gap: 20px;
}

.sidebar-mini {
    width: 75px; background: var(--naranja); height: 100%; border-radius: 35px;
    display: flex; flex-direction: column; justify-content: flex-end;
    align-items: center; padding-bottom: 30px; box-sizing: border-box;
}

#workspace {
    flex: 1; display: flex; gap: 20px; height: 100%; position: relative;
}

.window-full-height {
    height: 100%; display: flex; flex-direction: column;
}

.center-col { flex: 2; }
.right-col { width: 350px; }

.main-header {
    display: flex; align-items: flex-start; padding: 10px 10px 20px;
}

.header-right { justify-content: flex-end; }

.window-main { flex: 1; }