.bg-main {
    background-color: #d1e3e8;
    margin: 0;
    height: 100vh;
    display: flex;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

.app-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 20px; /* Margen superior e inferior */
    box-sizing: border-box;
    gap: 20px;
}

/* Margen izquierdo (franja naranja) y derecho iguales */
.sidebar-mini {
    width: 70px;
    height: calc(100% - 40px); /* Ajuste perfecto al margen */
    background: #f16b24;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
}

#workspace {
    flex: 1;
    display: flex;
    gap: 20px;
    height: calc(100% - 40px);
    margin-right: 0; /* Asegura que el margen del app-wrapper mande a la derecha */
}

.window-full-height {
    height: 100%; /* Obliga a la ventana a llegar al final */
}

.right-stack {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}