:root {
    --naranja: #f16b24;
    --fondo-azul: #d1e3e8;
}

body, html { margin: 0; padding: 0; height: 100%; overflow: hidden; }

.bg-main {
    background-color: var(--fondo-azul);
    display: flex;
    font-family: 'Inter', sans-serif;
}

/* Barra lateral pegada sin redondeos */
.sidebar-fixed {
    width: 75px;
    background: var(--naranja);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.app-container {
    flex: 1;
    height: 100vh;
    padding: 25px;
    box-sizing: border-box;
}

#workspace {
    display: flex;
    gap: 20px;
    height: 100%;
}

.main-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}