:root {
    --naranja: #f16b24;
    --fondo: #d1e3e8;
    --blanco: #ffffff;
}

body, html { margin: 0; padding: 0; height: 100vh; overflow: hidden; background: var(--fondo); }

.bg-main { display: flex; font-family: 'Inter', sans-serif; }

/* BARRA NARANJA RECTA */
.sidebar-naranja {
    width: 80px;
    background: var(--naranja);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 30px;
    flex-shrink: 0;
}

.main-screen {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 30px 30px 20px;
    height: 100vh;
    box-sizing: border-box;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.content-layout {
    display: flex;
    gap: 20px;
    flex: 1;
    height: calc(100% - 100px);
}