body.bg-main {
    background-color: #d1e3e8; /* El azul claro de tu captura */
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.app-container {
    display: grid;
    grid-template-columns: 80px 350px 1fr 350px;
    gap: 15px;
    height: 100vh;
    padding: 15px;
    box-sizing: border-box;
}

.sidebar-orange {
    background-color: #f16b24; /* Naranja Migo */
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

.main-content, .side-panel, .right-panel {
    display: flex;
    flex-direction: column;
    gap: 15px;
}