.user-popup {
    position: fixed;
    bottom: 85px;
    left: 75px;
    width: 240px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 20px 40px -10px rgba(0,0,0,0.2);
    border: 1px solid #f1f5f9;
    padding: 1.5rem;
    z-index: 300;
}
.user-popup::before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 20px;
    width: 16px;
    height: 16px;
    background: white;
    transform: rotate(45deg);
    border-right: 1px solid #f1f5f9;
    border-bottom: 1px solid #f1f5f9;
}